<header class="page-header">
    <h2>Welcome</h2>
</header>

<!--<h2>Form Layouts</h2>-->

<!--Welcom statement-->
<header class="panel-heading">
    <h2 class="panel-title">Welcome to the Exam Paper Generator And E-Evaluator</h2>
</header>
<br>

<!--displaying the slider-->
<div class="panel panel-sign">
    <div id="container">
        <div id="slider">
            <div class="slide active">
                <img src="../assets/images/slider/image1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image7.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../assets/images/slider/image8.jpg" alt="">
            </div>
        </div>
    </div>
</div>