<div class="page-header">
    <h1>View Courses</h1>
</div>
<div ng-controller="studentController as student" class="panel panel-sign">
    <!--if a student-->
    <div ng-if="main.isStudent" ng-init=" courseDetails=shared.getAllCourses(); enrolledCourses = student.getEnrolledCourses();">
        <div ng-repeat="course in courseDetails">
            <section class="panel panel-featured panel-featured-dark">
                <header class="panel-heading">
                    <h2 class="panel-title">{{course.moduleCode}} - {{course.courseTitle}}</h2>
                    <p class="panel-subtitle">Instructor - {{course.instructor}}</p>
                </header>
                <div class="panel-body">
                    <code>This helps to improve the mathematical thinking ability</code>
                    <br>
                    <button ng-if="enrolledCourses.indexOf(course.moduleCode)== -1" ng-click="student.enroll(course.moduleCode, main.username); showDiv=true;"
                        ng-show="!showDiv" class="btn btn-primary">Enroll</button>
                </div>
            </section>
        </div>
    </div>
    <!--if not a student-->
    <div ng-if="!main.isStudent" ng-init=" courseDetails=shared.getAllCourses();">

        <div ng-repeat="course in courseDetails">

            <section class="panel panel-featured panel-featured-dark">
                <header class="panel-heading">
                    <h2 class="panel-title">{{course.moduleCode}} - {{course.courseTitle}}</h2>
                    <p class="panel-subtitle">Instructor - {{course.instructor}}</p>
                </header>
                <div class="panel-body">
                    <code>{{course.description}}</code>
                    <br>
            </section>
            </div>
        </div>
    </div>


</div>
</div>