<div class="page-header">
    <h1>View Courses</h1>
</div>
<div ng-controller="studentController as student" class="panel panel-sign">
    <div ng-init=" courseDetails=shared.getAllCourses(); enrolledCourses = student.getEnrolledCourses();">
        {{enrolledCourses}}
        <div ng-repeat="course in courseDetails">
             <div ng-if="enrolledCourses.indexOf(course.moduleCode)== -1">
        <section class="panel panel-featured panel-featured-dark" >

            <!--<div ng-repeat="enroll in enrolledCourses">-->
                <!--<div ng-init="student.checkStudentEnrolment(course.moduleCode, main.username)">-->
                    <!--{{enroll}}-->
                    <!--{{course.moduleCode}}-->
               
                  
                        <!--<form class="form-horizontal form-bordered"  name="EnrollForm" novalidate>-->
                        <header class="panel-heading">
                            <h2 class="panel-title">{{course.moduleCode}} - {{course.courseTitle}}</h2>
                            <p class="panel-subtitle">Instructor - {{course.instructor}}</p>
                        </header>
                        <div class="panel-body">
                            <code>This helps to improve the mathematical thinking ability</code>
                            <br>
                            <button ng-click="student.enroll(course.moduleCode, main.username)" class="btn btn-primary" ng-show="main.isStudent">Enroll</button>
                        <!--</div>-->
               
                    <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </section>
             </div>
        </div>
    </div>
</div>
</div>