<header class="page-header">
    <h2>User Registration</h2>
</header>

<div class="center-sign">
    <a href="/" class="logo pull-left">
        <img src="assets/images/logo.png" height="54" alt="Porto Admin">
    </a>
    <div class="panel panel-sign">
        <div class="panel-title-sign mt-xl text-right">
            <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
        </div>
        <div class="panel-body">
            <form ng-submit="register.regInstructor(regForm.regData,regForm.$valid);" name="regForm" novalidate>
                <br>
                <!--The name of the user-->
                <div class="form-group mb-lg" ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted) }">
                    <label>Name</label>
                    <input name="name" type="text" class="form-control input-lg" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{3,40})+[ ]+([a-zA-Z]{3,40}))$/"
                        ng-maxlength="100" ng-minlength="3" required>
                        <p ng-show="(!regForm.name.$pristine && regForm.name.$error.required)|| (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
                        <ul class="class-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern)|| (!regForm.name.$pristine && regForm.name.$error.maxlength)|| (!regForm.name.$pristine && regForm.name.$error.minlength)">
                            <li>Cannot contain either special characters or any numbers</li>
                            <li>Should contain a space between the two names</li>
                            <li>length should be between 3 and 100</li>
                        </ul>
                </div>
                <!--The username of the user-->
                <div class="form-group mb-lg" ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) ||(regForm.$submitted && !regForm.username.$valid)}">
                    <label>Username</label>
                    <input name="username" type="text" class="form-control input-lg" ng-model="register.regData.username" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,100}$/"
                        ng-maxlength="100" ng-minlength="3" required>
                        <p ng-show="(!regForm.username.$pristine && regForm.username.$error.required)|| (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
                        <ul class="class-block" ng-show="((!regForm.username.$pristine && regForm.username.$error.pattern)|| (!regForm.username.$pristine && regForm.username.$error.maxlength)|| (!regForm.username.$pristine && regForm.username.$error.minlength))">
                            <li>Cannot contain either special characters or any numbers</li>
                            <li>Should contain any spaces</li>
                            <li>length should be between 3 and 100</li>
                        </ul>
                </div>
                <!--The email of the user-->
                <div class="form-group mb-lg" ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) ||(regForm.$submitted && !regForm.email.$valid)}">
                    <label>E-mail Address</label>
                    <input name="email" type="email" class="form-control input-lg" ng-model="register.regData.email" ng-model="register.regData.username"
                        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/"
                        ng-maxlength="100" ng-minlength="3" required>
                        <p ng-show="(!regForm.email.$pristine && regForm.email.$error.required)|| (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
                        <ul class="class-block" ng-show="((!regForm.email.$pristine && regForm.email.$error.pattern)|| (!regForm.email.$pristine && regForm.email.$error.maxlength)|| (!regForm.email.$pristine && regForm.email.$error.minlength))">
                            <li>Should contain @ sign</li>
                            <li>Must not contain any special characters</li>
                            <li>length should be between 3 and 100</li>
                        </ul>
                </div>
                <!--submission of the form-->
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <button ng-disabled="regForm.$invalid" type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<span>{{regForm}}</span>-->
<br>
<!--displaying the loading symbol-->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
</div>

<br>
<!--displaying the success message-->
<div class="row show-hide-message" ng-show="register.insSuccessMsg">
    <div class="alert alert-success">{{register.insSuccessMsg}}</div>
    <p>Loading.....</p>
</div>

<br>
<!--displaying the error message-->
<div class="row show-hide-message" ng-show="register.insErrorMsg">
    <div class="alert alert-danger">{{register.insErrorMsg}}</div>
</div>