<div class="page-header">
    <h1>Instructor List</h1>
</div>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
        </div>

        <h2 class="panel-title">Instructors</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped mb-none">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Thirasara</td>
                        <td>Ariyarathna</td>
                        <td>thirasara</td>
                        <td>thirasara@gmail.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Prabodha</td>
                        <td>Harankahadeniya</td>
                        <td>prabodha</td>
                        <td>prabodha@gmail.com</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Hasini</td>
                        <td>Weerasinghe</td>
                        <td>hasini</td>
                        <td>hasini@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>