<!--show student details-->

<header class="page-header">
    <h2>Student List</h2>
</header>

<section class="panel" ng-init="students = admin.getStudentDetails()">
    <header class="panel-heading">
        <h2 class="panel-title">Students</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped mb-none">
                <thead>
                    <!--header-->
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody ng-repeat="student in students">
                    <!--list of students-->
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>