<div class="page-header">
    <h1>Instructor List</h1>
</div>

<section class="panel" ng-init="instructors = admin.getInstructorDetails()">
    <header class="panel-heading">
        <h2 class="panel-title">Instructors</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped mb-none">
                <thead>
                    <!--header-->
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Usename</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody ng-repeat="instructor in instructors">
                    <!--records of thr Instructors-->
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{instructor.name}}</td>
                        <td>{{instructor.username}}</td>
                        <td>{{instructor.email}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>