<div class="page-header">
    <h1>View Courses</h1>
</div>
<div class="panel panel-sign">
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">MA 2398- Calculus for System Modelling</h2>
            <p class="panel-subtitle">Area - Mathematics</p>
        </header>
        <div class="panel-body">
            <code>This helps to improve the mathematical thinking ability</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">CS 2031- Data Structures and Algorithms</h2>
            <p class="panel-subtitle">Area- Algorithms</p>
        </header>
        <div class="panel-body">
            <code>.panel-featured.panel-featured-dark</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">Title</h2>
            <p class="panel-subtitle">Subtitle</p>
        </header>
        <div class="panel-body">
            <code>.panel-featured.panel-featured-dark</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">Title</h2>
            <p class="panel-subtitle">Subtitle</p>
        </header>
        <div class="panel-body">
            <code>.panel-featured.panel-featured-dark</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>	
</div>


	