<div class="page-header">
    <h1>View Courses</h1>
</div>
<div class="panel panel-sign">
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <h2 class="panel-title">MA 2398- Calculus for System Modelling</h2>
            <p class="panel-subtitle">Area - Mathematics</p>
        </header>
        <div class="panel-body">
            <code>This helps to improve the mathematical thinking ability</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <div class="panel-actions">
                <h2 class="panel-title">CS 2031 - Data Structures and Algorithms</h2>
                <p class="panel-subtitle">Area- Algorithms</p>
        </header>
        <div class="panel-body">
            <code>Area- Algorithms</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <h2 class="panel-title">CE 3091 - Aspects of Civil Engineering</h2>
            <p class="panel-subtitle">Area - Civil</p>
        </header>
        <div class="panel-body">
            <code> Helps to get a clear understanding about the main aspects of civil engineering</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    <section class="panel panel-featured panel-featured-dark">
        <header class="panel-heading">
            <h2 class="panel-title">ME 2091 - Thermodynamics</h2>
            <p class="panel-subtitle">Area - Mechanical</p>
        </header>
        <div class="panel-body">
            <code>Helps to get a clear understanding about the main aspects of Thermodynamics</code>
            <br>
            <button class="btn btn-primary">Enroll</button>
        </div>
    </section>
    </div>