<!--adding courses-->

<div class="page-header">
    <h1>Marks</h1>
</div>

<div class="panel panel-sign">
    <section class="panel">
        <div class="panel-body">
            <br>
            <br>
            <br>
            <br>
            <div class="ui-pnotify stack-bar-bottom" style="width: 70%; left: 0px; bottom: 0px; opacity: 1; display: block; cursor: auto;">
                <div class="notification ui-pnotify-container notification-success" style="min-height: 16px;">
                    <div class="ui-pnotify-icon"><span class="fa fa-check"></span></div>
                    <h4 class="ui-pnotify-title">Congratulations ! </h4>
                    <div class="ui-pnotify-text">You have got {{student.getRouterParamsMarks()}} % marks</div>
                    <div style="margin-top: 5px; clear: both; text-align: right; display: none;"></div>
                </div>
            </div>
        </div>
    </section>
</div>