<!--login form-->

<div class="page-header">
	<h1>Login</h1>
</div>

<div class="center-sign">
	<a href="/" class="logo pull-left">
		<img src="assets/images/logo.png" height="54" alt="Porto Admin">
	</a>

	<div class="panel panel-sign">
		<div class="panel-title-sign mt-xl text-right">
			<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
		</div>
		<div class="panel-body">
			<!--login form-->

			<!--login to the system-->
			<form ng-submit="main.doLogin(loginData);">
				<!--enter username-->
				<br><br>
				<label for="username">Username : </label>
				<input class="form-control" type="text" name="username" id="username" placeholder="Username" ng-model="main.loginData.username">
				<br>
				<!--enter password-->
				<label for="password">Password : </label>
				<input class="form-control" type="password" name="password" id="password" placeholder="Password" ng-model="main.loginData.password">
				<br>
				<div class="row">

					<!--submit-->
					<div class="col-sm-3 text-left">
						<button type="submit" class="btn btn-primary">Sign In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<br>
<!--displaying the loading symbol-->
<div class="jumbotron text-center" ng-show="main.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
</div>

<br>
<!--displaying the success message-->
<div class="row show-hide-message" ng-show="main.successMsg">
	<div class="alert alert-success">{{main.successMsg}}</div>
	<p>Loading.....</p>
</div>

<br>
<!--displaying the error message-->
<div class="row show-hide-message" ng-show="main.errorMsg">
	<div class="alert alert-danger">{{main.errorMsg}}</div>
</div>