<div class="page-header">
    <h1>Profile page</h1>
</div>

<section class="panel" ng-show="main.username">
    <div class="panel-body">
        <div class="thumb-info mb-md">
            <img src="assets/images/!logged-user.jpg" class="rounded img-responsive" alt="John Doe">
            <div class="thumb-info-title">
                <span class="thumb-info-inner">{{main.username}}</span>
                <span class="thumb-info-type">{{main.userType}}</span>
            </div>
        </div>
   
       

       

    </div>
</section>