<div class="page-header">
    <h1>User Registration</h1>
</div>

<form>

    <label for="username">Username : </label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
    <br>

    <label for="password">Password : </label>
    <input class="form-control" type="text" name="password" id="password" placeholder="Password">
    <br>

    <label for="email">Email : </label>
    <input class="form-control" type="text" name="email" id="email" placeholder="Email">
    <br>

    <label for="email">User Type : </label>
    <input class="form-control" type="text" name="userType" id="userType" placeholder="User Type">
    <br>

    <button class="btn btn-primary" type="submit">Register</button>

</form>