<div class="page-header">
    <h1>Add Course</h1>
</div>

<div class="panel panel-sign">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">Add Course</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" method="get">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Course Title</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Course Title" id="courseTitle">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Module Code</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Module Code" id="moduleCode">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="textareaAutosize">Description</label>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="3" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 74px;"></textarea>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </section>
</div>