<!--adding courses-->

<div class="page-header">
    <h1>Add Question</h1>
</div>

<!--displaying error and success messages-->

<!--displaying the loading symbol-->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
</div>

<br>
<!--displaying the success message-->
<div class="row show-hide-message" ng-show="instructor.successMsg">
    <div class="alert alert-success">{{instructor.successMsg}}</div>
</div>

<br>
<!--displaying the error message-->
<div class="row show-hide-message" ng-show="instructor.courseErrorMsg">
    <div class="alert alert-danger">{{instructor.courseErrorMsg}}</div>
</div>
<!------------>


<div class="panel panel-sign">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Add Question</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" ng-submit="instructor.addQuestion(AddQuestionForm.questionData,AddQuestionForm.$valid);"
                name="AddQuestionForm" novalidate>

                <!--username-->
                <input type="hidden" ng-model="AddQuestionForm.questionData.username" value="{{main.username}}" ng-init="AddQuestionForm.questionData.username=main.username">

                <!--module code-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="textareaAutosize">Module Code</label>
                    <div ng-init="courseDetails=instructor.getCourseDetails(main.username)">
                        <div class="col-md-6" ng-class="{'has-success':(AddQuestionForm.course.$valid && !AddQuestionForm.course.$pristine), 'has-error':(!AddQuestionForm.course.$valid && !AddQuestionForm.course.$pristine) ||(AddQuestionForm.$submitted && !AddQuestionForm.course.$valid)}">
                            <select name="course" class="form-control mb-md" ng-model="AddQuestionForm.questionData.moduleCode" required>
								<option ng-repeat="course in courseDetails" value="{{course.moduleCode}}">{{course.moduleCode}}-{{course.courseTitle}}</option>								
						</select>
                            <p ng-show="(!AddQuestionForm.course.$pristine && AddQuestionForm.course.$error.required)|| (AddQuestionForm.$submitted && AddQuestionForm.course.$error.required)">*required</p>
                        </div>
                    </div>
                </div>
                <!--question-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="textareaAutosize">Question</label>
                    <div class="col-md-6" ng-class="{'has-success':(AddQuestionForm.question.$valid && !AddQuestionForm.question.$pristine), 'has-error':(!AddQuestionForm.question.$valid && !AddQuestionForm.question.$pristine) ||(AddQuestionForm.$submitted && !AddQuestionForm.question.$valid)}">
                        <textarea name="question" class="form-control" rows="3" id="question" data-plugin-textarea-autosize="" ng-model="AddQuestionForm.questionData.question"
                            style="overflow: hidden; word-wrap: break-word; resize: none; height: 74px;" required></textarea>
                            <p ng-show="(!AddQuestionForm.question.$pristine && AddQuestionForm.question.$error.required)|| (AddQuestionForm.$submitted && AddQuestionForm.question.$error.required)">*required</p>
                    </div>
                </div>

                <!--question type-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Question Type</label>
                    <div class="col-md-6" ng-class="{'has-success':(AddQuestionForm.questionType.$valid && !AddQuestionForm.questionType.$pristine), 'has-error':(!AddQuestionForm.questionType.$valid && !AddQuestionForm.questionType.$pristine) ||(AddQuestionForm.$submitted && !AddQuestionForm.questionType.$valid)}">
                        <div class="radio">
                            <label>
							<input type="radio" name="questionType" id="mcq" value="mcq" ng-model="AddQuestionForm.questionData.questionType" required>
							MCQ
							</label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="questionType" id="structured" value="structured" ng-model="AddQuestionForm.questionData.questionType">
							Structured
							</label>
                        </div>
                        <p ng-show="(!AddQuestionForm.questionType.$pristine && AddQuestionForm.questionType.$error.required)|| (AddQuestionForm.$submitted && AddQuestionForm.questionType.$error.required)">*required</p>
                    </div>
                </div>

                <!--difficulty level-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Difficulty Level</label>
                    <div class="col-md-6" ng-class="{'has-success':(AddQuestionForm.difficultyLevel.$valid && !AddQuestionForm.difficultyLevel.$pristine), 'has-error':(!AddQuestionForm.difficultyLevel.$valid && !AddQuestionForm.difficultyLevel.$pristine) ||(AddQuestionForm.$submitted && !AddQuestionForm.difficultyLevel.$valid)}">
                        <div class="radio">
                            <label>
							<input type="radio" name="difficultyLevel" id="easy" value="easy" ng-model="AddQuestionForm.questionData.difficultyLevel" required>
							Easy
							</label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="difficultyLevel" id="medium" value="medium" ng-model="AddQuestionForm.questionData.difficultyLevel">
							Medium
							</label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="difficultyLevel" id="difficult" value="difficult" ng-model="AddQuestionForm.questionData.difficultyLevel">
							Difficult
							</label>
                        </div>
                        <p ng-show="(!AddQuestionForm.difficultyLevel.$pristine && AddQuestionForm.difficultyLevel.$error.required)|| (AddQuestionForm.$submitted && AddQuestionForm.difficultyLevel.$error.required)">*required</p>
                    </div>
                </div>

                <!--mcq question-->
                <div ng-show="AddQuestionForm.questionData.questionType=='mcq'">
                    <header class="panel-heading">
                        <h2 class="panel-title">MCQ Question</h2>
                    </header>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Correct Answer</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="corrrectAns" ng-model="AddQuestionForm.questionData.correctAns">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Wrong Answer 1</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="wrongAns1" ng-model="AddQuestionForm.questionData.wrongAns1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Wrong Answer 2</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="wrongAns2" ng-model="AddQuestionForm.questionData.wrongAns2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Wrong Answer 3</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="wrongAns3" ng-model="AddQuestionForm.questionData.wrongAns3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Wrong Answer 4</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="wrongAns4" ng-model="AddQuestionForm.questionData.wrongAns4">
                        </div>
                    </div>
                </div>

                <!--structured question-->
                <div class="form-group" ng-show="AddQuestionForm.questionData.questionType=='structured'">
                    <header class="panel-heading">
                        <h2 class="panel-title">Structured Question</h2>
                    </header>
                    <br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Key word 1</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="keyWord1" ng-model="AddQuestionForm.questionData.keyWord1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Key word 2</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="keyWord2" ng-model="AddQuestionForm.questionData.keyWord2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Key word 3</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="keyWord3" ng-model="AddQuestionForm.questionData.keyWord3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Key word 4</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="keyWord4" ng-model="AddQuestionForm.questionData.keyWord4">
                        </div>
                    </div>
                </div>
                <!---->
                <br>
                <button ng-disabled="AddQuestionForm.$invalid" type="submit" class="btn btn-primary">Add Question</button>
                </form>
        </div>
    </section>
</div>