<div class="page-header">
    <h1>Add Question</h1>
</div>

<div class="panel panel-sign">

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
            </div>

            <h2 class="panel-title">Add Question</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" method="get">

                <div class="form-group">
                    <label class="col-md-3 control-label" for="textareaAutosize">Question</label>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="3" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 74px;"></textarea>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Question Type <span class="required" aria-required="true">*</span></label>
                    <div class="col-sm-9">
                        <div class="radio-custom radio-primary">
                            <input id="mcq" name="porto_is" type="radio" value="mcq" required="" aria-required="true">
                            <label for="mcq">MCQ</label>
                        </div>
                        <div class="radio-custom radio-primary">
                            <input id="structured" name="porto_is" type="radio" value="structured">
                            <label for="structured">Structured</label>
                        </div>
                        <label class="error" for="porto_is"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Difficulty Level <span class="required" aria-required="true">*</span></label>
                    <div class="col-sm-9">
                        <div class="radio-custom radio-primary">
                            <input id="easy" name="porto_is" type="radio" value="easy" required="" aria-required="true">
                            <label for="easy">Easy</label>
                        </div>
                        <div class="radio-custom radio-primary">
                            <input id="moderate" name="porto_is" type="radio" value="moderate">
                            <label for="moderate">Moderate</label>
                        </div>
                        <div class="radio-custom radio-primary">
                            <input id="difficult" name="porto_is" type="radio" value="difficult">
                            <label for="difficult">Difficult</label>
                        </div>
                        <label class="error" for="porto_is"></label>
                    </div>
                </div>

                <div>
                    <section class="panel">
                        <header class="panel-heading">

                            <h2 class="panel-title">MCQ Questions</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" method="get">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="correctAns">Correct Answer</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Course Title" id="correctAns">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="wrongAns">Wrong Answers</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Wrong Answer 1" id="wrongAns1">
                                        <input type="text" class="form-control" placeholder="Wrong Answer 2" id="wrongAns2">
                                        <input type="text" class="form-control" placeholder="Wrong Answer 3" id="wrongAns3">
                                        <input type="text" class="form-control" placeholder="Wrong Answer 4" id="wrongAns4">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>

             
                <div>
                    <section class="panel">
                        <header class="panel-heading">

                            <h2 class="panel-title">Structured Questions</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" method="get">                             
                              
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="keyWords">Key Words</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Key Word 1" id="keyWord1">
                                        <input type="text" class="form-control" placeholder="Key Word 2" id="keyWord2">
                                        <input type="text" class="form-control" placeholder="Key Word 3" id="keyWord3">
                                        <input type="text" class="form-control" placeholder="Key Word 4" id="keyWord4">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>

             
             
                <button class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </section>
</div>