<!--adding courses-->

<header class="page-header">
    <h2>Question PapersCourse</h2>
</header>

<div class="panel panel-sign">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Courses</h2>
        </header>
        <div class="panel-body">

            <div ng-init="courseDetails=instructor.getCourseDetails(main.username)">
                <section class="panel panel-featured panel-featured-dark" ng-repeat="course in courseDetails">
                    <header class="panel-heading">
                        <a href="/showCoursePapers/{{course.moduleCode}}">
                            <i class="el el-address-book"></i>
                            <h2 class="panel-title">{{course.moduleCode}}-{{course.courseTitle}}</h2>
                        </a>
                    </header>
                </section>
            </div>

        </div>
    </section>
</div>

<br>

<!--displaying error and success messages-->

<!--displaying the loading symbol-->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
</div>

<br>
<!--displaying the success message-->
<div class="row show-hide-message" ng-show="instructor.successMsg">
    <div class="alert alert-success">{{instructor.successMsg}}</div>
</div>

<br>
<!--displaying the error message-->
<div class="row show-hide-message" ng-show="instructor.courseErrorMsg">
    <div class="alert alert-danger">{{instructor.courseErrorMsg}}</div>
</div>
<!------------>