<!--adding courses-->

<div class="page-header">
    <h1>Add Course</h1>
</div>

<div class="panel panel-sign">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Add Course</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" ng-submit="instructor.addCourse(courseForm.courseData,courseForm.$valid);" name="courseForm"
                novalidate>

                <!--username-->
                <input type="hidden" ng-model="courseForm.courseData.username" value="{{main.username}}" ng-init="courseForm.courseData.username=main.username">


                <!--course title-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Course Title</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="courseForm.courseData.courseTitle" placeholder="Course Title" id="courseTitle"
                            required>
                    </div>
                </div>
                <!--module code-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Module Code</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="courseForm.courseData.moduleCode" placeholder="Module Code" id="moduleCode"
                            required>
                    </div>
                </div>
                     <!--adding the question type-->
                <div class="form-group" ng-show="instructor.paperMCQ">
                    <label class="col-sm-3 control-label">Answer All Questions<span class="required" aria-required="true">*</span></label>
                  <div ng-repeat="paper in instructor.paper">
                      
                    <div class="col-sm-9">
                        <!--type-mcq-->
                        <label for="question">{{paper.question}}</label>
                        <div class="radio-custom radio-primary">
                            <input id="mcq" name="paperType" type="radio" value="mcq" ng-model="GeneratePaperForm.paperData.paperType" required="" aria-required="true">
                            <label for="mcq">MCQ</label>
                        </div>
                        <!--type-structured-->
                        <div class="radio-custom radio-primary">
                            <input id="structured" name="paperType" type="radio" ng-model="GeneratePaperForm.paperData.paperType" value="structured">
                            <label for="structured">Structured</label>
                        </div>
                        <label class="error" for="paperType"></label>
                    </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add Course</button>
                </form>
        </div>
    </section>
</div>

<br>
<!--displaying the loading symbol-->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
</div>

<br>
<!--displaying the success message-->
<div class="row show-hide-message" ng-show="instructor.successMsg">
    <div class="alert alert-success">{{instructor.successMsg}}</div>
    <p>Loading.....</p>
</div>

<br>
<!--displaying the error message-->
<div class="row show-hide-message" ng-show="instructor.errorMsg">
    <div class="alert alert-danger">{{instructor.errorMsg}}</div>
</div>