<div class="page-header">
    <h1>Question Paper</h1>
</div>

<div class="panel panel-sign">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Question Paper</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" name="PaperForm" ng-submit="instructor.makePublic()">

                <div ng-init="paperInfo=instructor.getRouterParamsPaper()">
                    <div class="form-group">
                        <label for="">questionType -   {{paperInfo[0]}}</label>
                        <label for=""> {{paperInfo[1]}}</label>
                    </div>
                    <div ng-init="questions = instructor.getPaper(paperInfo)">

                        <!--mcq question-->
                        <div class="form-group" ng-if="paperInfo[0]=='mcq'" ng-show="paperInfo[0]=='mcq'">

                            <header class="panel-heading">
                                <h2 class="panel-title">MCQ Question Paper - {{paperInfo[1]}}-</h2>
                            </header>


                            <section class="panel panel-featured panel-featured-dark" ng-repeat="question in questions">
                                <div class="form-group">
                                    <br>
                                    <label class="col-md-12" for="question">{{question.question}}</label>
                                    <br>
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label>
							            <input type="radio" name="{{question.question}}" id="{{question.correctAns}}" value="  {{question.correctAns}}" >
							            {{question.correctAns}}
							            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
							            <input type="radio" name="{{question.question}}" id="{{question.wrongAns1}}" value="{{question.wrongAns1}}">
							            {{question.wrongAns1}}
							            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
							            <input type="radio" name="{{question.question}}" id="{{question.wrongAns2}}" value="{{question.wrongAns2}}" >
							            {{question.wrongAns2}}
							            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
							            <input type="radio" name="{{question.question}}" id="{{question.wrongAns3}}" value="{{question.wrongAns3}}" >
								        {{question.wrongAns3}}
						                </label>
                                        </div>
                                        <div class="radio">
                                            <label>
							            <input type="radio" name="{{question.question}}" id="{{question.wrongAns4}}" value="{{question.wrongAns4}}" >
						                {{question.wrongAns4}}
							            </label>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                    </div>
                    <!--structured question-->
                    <div class="form-group" ng-if="paperInfo[0]=='structured'" ng-show="paperInfo[0]=='structured'">

                        <header class="panel-heading">
                            <h2 class="panel-title">Structured Question Paper - {{paperInfo[1]}}</h2>
                        </header>


                        <section class="panel panel-featured panel-featured-dark" ng-repeat="question in questions">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="question">{{question.question}}</label>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ans">Answer</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="3" id="question" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 74px;"
                                        required></textarea>
                                </div>
                            </div>

                        </section>

                        <!---->

                        <br>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Make Public</button>
        </div>
        </form>
</div>
</section>
</div>
</div>